.about{
    height: 100vh;

    padding: $padding-large;
    @include respond(tab-land){
        padding: $padding-medium;
    }

    .container-fluid{
        @include respond(tab-land){
            padding-top: 5rem;
        }
        @include respond(tab-port){
            padding-top: 0;
        }
    }

    &__image img{
        width: 100%;
        min-width: 10rem;
    }

    &__text{
        align-items: center;
        padding-top: 2rem;
    }

    &__heading{
        padding-bottom: 2rem;
    }

    &__paragraph{
        padding-bottom: 2rem;
    }
}