a{
  color: $color-black;
  text-decoration: none;

  &:hover{
    text-decoration: none;
    color: $color-grey-dark;
  }
}
/***** LINE LINK *****/
.read-more {
  position: absolute;
  bottom: -2.5rem;
  left: 50%;
  transform: translateX(-50%);

  &__link {
    color: $color-black;
    text-transform: none;
    text-transform: uppercase;
    font-family: "Poppins", "sans-serif";
    font-weight: 400;
    font-size: 1.2rem;
    display: inline-block;
    transition: all 0.2s;
    backface-visibility: hidden;

    &:hover {
      color: $color-black;
      transform: scale(1.1);
    }
  }

  &__outer {
    width: 1px;
    height: 7rem;
    margin: auto;
    position: relative;
    overflow: hidden;
  }

  &__inner {
    position: absolute;
    width: 100%;
    height: 100%;
    background: $color-black;
  }
}

/***** BUTTONS *****/

.btn {
  text-transform: uppercase;
  font-family: "Poppins", "sans-serif";
  font-weight: 400;
  letter-spacing: 0.5px;
  border: 1.5px solid $color-black;
  border-radius: 3px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 1.2rem;
}

.btn--outline {
  &:hover {
    background-color: $color-black;
    color: $color-grey-light;
  }
}

.btn--fill{
  background-color: $color-black;
  color: $color-grey-light;

  &:hover{
    background: none;
    color: $color-black;
    border: 1.5px solid $color-black;
  }
}

/***** LINK *****/
.link {
  text-transform: uppercase;
  color: $color-black;
  font-family: "Poppins", "sans-serif";
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  font-weight: 500;

  span {
    margin-left: 1rem;
    font-weight: 700;
  }

  &:hover {
    font-size: 1.5rem;
  }
}