.cases {
  padding: $padding-large;
  @include respond(tab-land) {
    padding: $padding-medium;
  }

  margin-top: -20rem;
  @include respond(tab-port) {
    margin-top: 0;
  }

  &__case {
    @include respond(tab-port) {
      margin-top: 5rem;
    }
  }

  &__image {
    img {
      width: 100%;
      max-width: 40rem;
    }
  }

  &__content {
    width: 100%;
    .link {
      @include respond(tab-port) {
        font-size: 1rem;
      }
    }
  }
}
