.form {
  width: 40rem;

  form input:not(.form__field--submit),
  form label,
  form textarea {
    position: relative;
    display: inline-block;
    width: 100%;
    font-size: 0.8em;
  }

  form label {
    display: inline-block;
    margin: 0 auto;
    padding: 0 0 5px 0;
    top: 2.6rem; /* moving label down */
    z-index: 1; /* placing label behind input */
    color: $color-black;
    transition: all 0.2s ease-out; /* adding animation */
    text-transform: uppercase;

    visibility: hidden; /* only show while typing */
  }

  form input:not(.form__field--submit),
  form textarea {
    padding: 0 0 .5rem .3rem;
    margin-bottom: 0.5em;
    z-index: 10;
    background: transparent; /* adding transparency */
    border: none;
    border-bottom: 1px solid $color-black;
  }

  /*label while typing */
  .filled label {
    top: 0;
    font-size: 0.8em;
    visibility: visible;
  }

  &__field {
    &:focus {
      outline: none;
    }

    &::-webkit-input-placeholder {
      color: $color-grey-dark;
      text-transform: uppercase;
    }

    &:not(.form__field--submit) {
      width: 40rem;
      color: $color-grey-dark;
    }

    &--subject {
      font-size: 0.8em;
      border: none;
      border-bottom: 1px solid $color-black;
      margin-top:3rem;
      padding-bottom: .5rem;

      & option {
        /*list items*/
        color: $color-black;
        margin-top: 2rem;
        &:not(:last-child){
            margin-bottom:2rem;
        }

        &:disabled {
          display: none;
        }

        &[selected=selected] + select{
            color: red;
        }
      }
      
    }
  }

  textarea.form__field {
    resize: none;
    height:10rem;
  }
}
