.services{
    padding:$padding-large;
    padding-top: 5rem;

    &__service{
        
        margin-top: 5rem;

        &:not(:last-child){
            padding-right: 8rem;
        }
        
        p{
            margin-top: 3rem;
            margin-bottom: 3rem;
        }
    }


}