*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


body {
    box-sizing: border-box;
    font-family: "Roboto", "sans-serif";
}

h1{
    font-family: "Poppins", "sans-serif";
    font-weight: 700;
}

h2{
    font-size: 1.5rem;
}

section{
    padding: 1em;
}
