// COLORS
$color-black: #4b4b4b;
$color-white: #fff;
$color-grey-light: #fafafa;
$color-grey: #e8e8e8;
$color-grey-dark: #bebebe;

//PADDING & MARGINS
$padding-small: 5rem;
$padding-medium: 10rem;
$padding-large: 15rem;
